.wrapper{
    display:flex;
    justify-content: center;
}
.wrapper-header-img{
    @include bgi-settings();
     position: relative;
     background-image: url('../../images/slider.png');
     opacity: 1;
     @media (min-width:960px){
         background-position: center top;
     }
 }
 .wrapper--secondary-bgc{
     background-color: #ffe9e2;
 }
 .wrapper--image{
     @include bgi-settings();
     background-image: url('../../images/pexels-photo-133339.jpeg');
     padding: 4rem 1rem;
     @media (min-width: 768px){
        padding: 0;
        background-attachment: fixed;
        height: 400px;
     }
 }
 .wrapper--primary-bgc{
     background-color: $wrapper-bgc-color;
 }